img.centralImage {
    width: 35%;
    height: 75%;
    margin-top: 2%;
    border: solid black;
}

a.centralLinks {
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    font-size: larger;
    color: grey;
    font-family: UnifrakturMaguntia;

}

.homeBody {
    background-color:white;
