{% extends 'base.html' %}
{% load static %}
{% block site_content %}

    <link rel="stylesheet" type="text/css" href="{% static 'custom_contact_responsive.css' %}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=UnifrakturMaguntia" />
  <body>
    <div class="container">
        <div class="row justify-content-center">
            <p class="contactinfo toplink"><b>Email</b>: paul.gilmartin89@gmail.com</p>
        </div>
        <div class="row justify-content-center">
            <p class="contactinfo"><b>Phone</b>: +44 (0) 7506587048</p>
        </div>
        <div class="row justify-content-center">
            <a  class="contactinfo" href="https://www.linkedin.com/in/paul-gilmartin/">LinkedIn</a>
        </div>

    </div>
  </body>

{% endblock %}