{% extends 'base.html' %}
{% load staticfiles %}

{% block site_content %}
    <link href="{% static 'custom_research_responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=UnifrakturMaguntia" />

  <body>
  <h1>{{ title }}</h1>
    <div class="container">
      <div class="row">
          <div class="col-xs-6 justify-content-center">
              {{ blurb }}
          </div>
      </div>
      {% for paper in papers %}
          <div class="row">
              <a class="paperTitle col-xs-6" href="{{ paper.content_path }}"> <h5>{{ paper.title }}</h5> </a>
          </div>
          {% if paper.coauthors %}
          <div class="row">
              <p class="coauthors">with {{ paper.coauthors }}</p>
          </div>
          {% else %}
          <p></p>
          {% endif %}
          <div class="row">
              <h6>Abstract</h6>
                <div>{{ paper.abstract }}</div>
          </div>
      {% endfor %}
    </div>
  </body>
{% endblock %}